<div class="pt-4">
</div>
<div class="row">
  <div class="col col-5">
    <button routerLink="../" type="button" class="btn btn-light"><i class="bi bi-arrow-left"></i> Regresar a
      lista</button>
  </div>
</div>
<div class="pt-3">

</div>
<form class="row g-3" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="col-md-6 col-sm-12">
    <label for="cliente" class="form-label">Cliente</label>
    <select name="idCliente" formControlName="idCliente" class="form-select">
      <option selected>Seleccionar un cliente</option>
      <option *ngFor="let item of clientes" value="{{item.id}}">{{item.nombre}} {{item.apellido}}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="producto" class="form-label">Producto</label>
    <select name="idProducto" formControlName="idProducto" class="form-select">
      <option selected>Seleccionar un producto</option>
      <option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.nombre}}</option>
    </select>
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="cantidad" class="form-label">Cantidad</label>
    <input type="number" class="form-control" name="cantidad" formControlName="cantidad" id="cantidad"
      placeholder="Ejem. 30">
    <span class="text-danger"
      *ngIf="registerForm.get('cantidad')?.touched && registerForm.get('cantidad')?.errors?.required">
      *Cantidad campo obligatorio
    </span>
  </div>
  <div class="col-md-6 col-sm-12 ">
    <label for="fecha" class="form-label">Fecha</label>
    <input type="fecha" class="form-control" name="fecha" formControlName="fecha" id="fecha"
      placeholder="Ejem. 2021-01-01" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
    <span class="text-danger" *ngIf="registerForm.get('fecha')?.touched && registerForm.get('fecha')?.errors?.required">
      *Fecha obligatorio
    </span>
  </div>
  <div class="col-12 col-sm-12">
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registrar producto</button>
  </div>
</form>


<div class="pt-5 mt-5">
  <div>
    <span>Informacion sobre el formulario (background):</span>
  </div>
  <div>
    {{registerForm.value | json}}
  </div>
</div>
